/* global */
@media (min-width: 38em) {
  html {
    font-size: 16px; /* poole set this to 20 */
  }
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 16px; /* hyde set this to 20 */
  }
}

/*
| font-size | em |  px  |
| --------- | -- | ---- |
| 16px      | 48 |  768 |
| 16px      | 58 |  928 |
| 16px      | 64 | 1024 |
| 20px      | 48 |  960 |
| 20px      | 58 | 1160 |
| 20px      | 64 | 1280 |
*/

/* sidebar (will conflict if you flip to a themed option) */
.sidebar {
  background-color: #282a36; /* matches dracula background */
}
.sidebar-nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap
}
@media (min-width: 48em) {
  .sidebar-nav {
    display: block;
  }
}

/* code */

/* poole/hyde was built expecting liquid code blocks to resove to div.highlight, so we were getting
   som bad default styling for figure elements from the browser */
figure {
  margin: 0rem;
}

figure.highlight pre {
  border-radius: 4px;
}

pre {
  /* don't wrap code, overflow it */
  overflow: auto;
  overflow-y: hidden;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
}

code {
  color: #ff79c6;
  background-color: #f9f9ff
}

/* content */

.container, .content {
  max-width: none;
}

@media (min-width: 48em) {
  .content, .container {
    max-width: 43rem;
  }
}

@media(min-width: 38em) and (max-width: 48em),
      (min-width: 58em) {
  .img-scaled { text-align: center; }
  .img-scaled img { display: inline; margin-bottom: 0; }
  .img-scaled.down-50 img { height: 50%; width: 50%; }
  .img-scaled.down-80 img { height: 80%; width: 80%; }
}

.img-bordered img {
  border-style: solid;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 0.375rem;
}

.caption {
  margin-top: -0.5rem; /* there's a margin-bottom: 1rem; on all the p tags */
  text-align: center;
  font-size: 0.85rem;
  color: #9a9a9a !important; /* stolen from .post-date */
}

.message {
  padding: 0;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f9f5fe;
}

.message .message-body {
  border-color: #bd93f9;
  color: #661cd0;
  border-radius: 4px;
  border-style: solid;
  border-width: 0 0 0 4px;
  padding: 1.25em 1.5em;
}

.message .message-body a,
.message .message-body strong {
  color: #661cd0;
}

.message .message-body a {
  text-decoration: underline;
}

.message .message-body p:last-child,
.message .message-body div.highlight:last-child {
  margin-bottom: 0;
}

.message.yellow {
  background-color: #fefff5;
}
.message.yellow .message-body {
  border-color: #f1fa8c;
  color: #34370c;
}

.message.yellow .message-body a,
.message.yellow .message-body strong {
  color: #34370c;
}

.input-group label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group div {
  line-height: 1.5;
  border-width: 0;
  border-style: solid;
  border-radius: 0.375rem;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-group label + div {
  margin-top: 0.25rem;
}

.input-group input {
  -webkit-appearance: none;
  display: block;
  width: 100%;

  background-color: #ffffff;
  color: inherit;

  border-style: solid;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 0.375rem;

  margin: 0;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;

  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
}

.input-group input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: #a4cafe;
}

.button {
  -webkit-appearance: button;
  cursor: pointer;

  width: 100%;

  background-color: rgba(40, 42, 54, 1); /* #282a36 */

  border-style: solid;
  border-color: transparent;
  border-radius: 0.375rem;
  border-width: 1px;

  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;

  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  color: rgba(255, 255, 255, 1);

  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button:hover {
  background-color: rgba(83, 87, 112, 1); /* #535770 */
}

.button:focus {
  background-color: rgba(83, 87, 112, 1); /* #535770 */

  border-color: rgba(83, 87, 112, 1); /* #535770 */

  outline: 0;
  box-shadow: 0 0 0 3px rgba(180, 198, 252, 0.45); /* #b4c6fc */
}

/* stolen from: https://github.com/tailwindcss/tailwindcss/blob/master/stubs/defaultConfig.stub.js#L191 */
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 4px;
}

.table-with-images img {
  display: inline;
  margin-bottom: 0;
}

.table-with-centered-columns td {
  text-align: center;
}

.scale-image-height-25-percent img {
  height: 25%;
}
