/* global */
@media (min-width: 38em) {
  html {
    font-size: 16px; /* poole set this to 20 */
  }
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 16px; /* hyde set this to 20 */
  }
}

/*
| font-size | em |  px  |
| --------- | -- | ---- |
| 16px      | 48 |  768 |
| 16px      | 58 |  928 |
| 16px      | 64 | 1024 |
| 20px      | 48 |  960 |
| 20px      | 58 | 1160 |
| 20px      | 64 | 1280 |
*/

/* sidebar (will conflict if you flip to a themed option) */
.sidebar {
  background-color: #282a36; /* matches dracula background */
}

/* code */

/* poole/hyde was built expecting liquid code blocks to resove to div.highlight, so we were getting
   som bad default styling for figure elements from the browser */
figure {
  margin: 0rem;
}

figure.highlight pre {
  border-radius: 4px;
}

pre {
  /* don't wrap code, overflow it */
  overflow: auto;
  overflow-y: hidden;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
}

code {
  color: #ff79c6;
  background-color: #f9f9ff
}

/* content */

.container, .content {
  max-width: none;
}

@media (min-width: 48em) {
  .content, .container {
    max-width: 43rem;
  }
}

.caption {
  margin-top: -0.5rem; /* there's a margin-bottom: 1rem; on all the p tags */
  text-align: center;
  font-size: 0.85rem;
  color: #9a9a9a !important; /* stolen from .post-date */
}

.message {
  padding: 0;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f9f5fe;
}

.message .message-body {
  border-color: #bd93f9;
  color: #661cd0;
  border-radius: 4px;
  border-style: solid;
  border-width: 0 0 0 4px;
  padding: 1.25em 1.5em;
}

.message .message-body a,
.message .message-body strong {
  color: #661cd0;
}

.message .message-body a {
  text-decoration: underline;
}

.message .message-body p:last-child,
.message .message-body div.highlight:last-child {
  margin-bottom: 0;
}

.message.yellow {
  background-color: #fefff5;
}
.message.yellow .message-body {
  border-color: #f1fa8c;
  color: #34370c;
}

.message.yellow .message-body a,
.message.yellow .message-body strong {
  color: #34370c;
}

/* stolen from: https://github.com/tailwindcss/tailwindcss/blob/master/stubs/defaultConfig.stub.js#L191 */
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 4px;
}

.table-with-images img {
  display: inline;
  margin-bottom: 0;
}

.table-with-centered-columns td {
  text-align: center;
}

.scale-image-height-25-percent img {
  height: 25%;
}
