<form action="https://buttondown.email/api/emails/embed-subscribe/gkemmey"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/gkemmey', 'popupwindow')">

  <input type="hidden" value="1" name="embed">

  <div class="input-group">
    <label for="newsletter-email">Enter your email</label>
    <div>
      <input type="email" name="email" id="newsletter-email">
    </div>
  </div>

  <input class="button" type="submit" value="Subscribe" style="margin-top: 1rem;">

  <div style="text-align: center; margin-top: 0.25rem; font-size: 0.875rem;">
    <a href="https://buttondown.email" target="_blank" style="color: #9a9a9a;">
      Powered by Buttondown
    </a>
  </div>
</form>
